html, body, .container-fluid {
  font-family: sans-serif;
  height: 100%;
}

#menu {
  position: fixed;
  right: 0;
  top: 45%;
  width: 8em;
  margin-top: -6.5em;
  z-index: 2;
  margin-right: 2rem;
}

#menu ul li {
  list-style: none;
  margin-bottom: 2px;
}

.section {
  min-height: 100%;
  position: relative;
  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.section_content {
  margin-top: 200px;
}

#section1 {
  background-color: #5cb85c;
}

#section2 {
  background-color: #5bc0de;
}

#section3 {
  background-color: #f0ad4e;
}

#section4 {
  background-color: #d9534f;
}
